@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]:before {
    color: lightgrey;
    content: attr(Date) !important;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before {
    content: '' !important;
  }